# MongoDB for BE
DB_APP=mongodb://vb-pools-write:e8fY48uCL7XjEFW4@ec2-54-254-59-167.ap-southeast-1.compute.amazonaws.com:27017/vb-pools

# Redis Cluster
REDIS_CLUSTER=[{ "host": "rinz-staging-redis-cluster.h3vsxk.clustercfg.apse1.cache.amazonaws.com", "port": 6379 }]

# RabbitMQ
RABBIT_PROTOCOL=amqps
RABBIT_HOST=b-7f02eefd-22f0-481b-9f6b-cc8acb6a84c3.mq.ap-southeast-1.amazonaws.com
RABBIT_USER=vb
RABBIT_PASSWORD=4743vyjhjSCcuKq8
RABBIT_PORT=5671
RABBIT_VHOST=vb

# Call to Vechain Testnet
CALLER=0x8969d25755362927e3499cb38b62d1d93f4f2c02
VECHAIN_RPC=https://testnet.veblocks.net
KEYSTORE_PASSWORD=21021997

# Environment
ENV=dev

API_URL=https://api-stag.vebank.io